<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="title">Alphabetical</option>
                <option value="code">Numerical</option>
            </select>

        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Office Name</th>
                <th>Office Number</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success" ng-repeat="branch in branches | filter:query | orderBy:orderProp">
                <p1>{{branch.title}}<p1>
                <p2>{{branch.code}}</p2>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="#/create-branch" class="btn btn-lg btn-primary">Add a branch</a>