<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            <br>
            Sort by:
            <br>
            <select ng-model="orderProp">
                <option value="title">Alphabetical</option>
                <option value="code">Numerical</option>
            </select>

        </div>
        <table class="table" >
            <thead>
            <tr>
                <th>Office Name</th>
                <th>Office Number</th>
            </tr>
            </thead>
            <tbody >
            <tr class="danger" ng-repeat="branch in branches | filter:query | orderBy:orderProp">
                <td>{{branch.title}}</td>
                <td>{{branch.code}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="#/create-branch" class="btn btn-lg btn-primary">Add a branch</a>