<form class="form-horizontal" role="form" name="frm" ng-submit="addDefaultRequest()">
    <div>
        <label label class="control-label col-sm-2">ID:</label>
        <input type="text" name="newID" placeholder="ID" ng-model="newID" required />
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Description:</label>
        <input type="text"  ng-model="newDescription" ng-init="newDescription='One Fortis Client, with One Current Account, having 1000 EUROS, positive balance'">
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Delivery Date:</label>
        <input type="text" name ="newDate" ng-model="newDate" ng-init="newDate= Date" required />
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Project:</label>
        <input type="text" name="newProject"  ng-model="newProject" ng-init="newProject='9066'" required />
    </div>
    <br>

    <div>
        Request detail:
        <br/>
        <div>
            <label label class="control-label col-sm-2">Quantity:</label>
            <input type="text" name="newCQ"  ng-model="newCQ" ng-init="newCQ='1'" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Branch:</label>
            <input type="text" name="newCBranch" ng-model="newCBranch" ng-init="newCBranch='Fortis'" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category:</label>
            <input type="text" name="newAC" ng-model="newAC" ng-init="newAC='CNORM'" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category Quantity:</label>
            <input type="text" name="newACQ" ng-model="newACQ" ng-init="newACQ='1'" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Amount to Add:</label>
            <input type="text" name="newCashDepositAmount" ng-model="newCashDepositAmount" ng-init="newCashDepositAmount='1000'"/>
        </div>
        <br>

    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-lg btn-primary" ng-disabled="frm.$invalid">ADD</button>

    </div>

    <button ng-click="exportData()">Export</button>
    <div id="exportable">
    <div>
        <table class="table" >
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Delivery Date</th>
                <th>Project Clarity Code</th>
                <th>Request Detail</th>
            </tr>
            </thead>
            <tbody >
            <tr class="danger" ng-repeat="request in filteredRequests=( requests | filter:query | orderBy:orderReq)">
                <td>{{request.ID}}</td>
                <td>{{request.Description}}</td>
                <td>{{request.Date}}</td>
                <td>{{request.Project}}</td>
                <td><div>
                    <ul>
                        <li class="info" ng-repeat="req in request.Contains">
                            {{req.clientQuantity}}
                            {{req.clientBranch}}
                            {{req.clientAccountQuantity}}
                            {{req.clientAccountCategory}}
                            {{req.cashDepositAmount}}
                            {{req.clientDomesticBeneficiariesQuantity}}
                        </li>
                    </ul>
                </div></td>
            </tr>

            </tbody>
        </table>
    </div>
  </div>
</form>
