<form class="form-horizontal" role="form" name="frm" ng-submit="addRequest()">
    <div>
        <label label class="control-label col-sm-2">ID:</label>
        <input type="text" name="newID" placeholder="ID" ng-model="newID" required />
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Description:</label>
        <input type="text"  value="One Fortis Client, with One Current Account, having 1000 EUROS, positive balance" ng-model="newDescription">
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Date:</label>
        <input type="text" name = "newDate" value="28/08/2015" ng-model="newDate" required />
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Project:</label>
        <input type="text" name="newProject" value="9066" ng-model="newProject" required />
    </div>
    <br>

    <div>
        Request detail:
        <br/>
        <div>
            <label label class="control-label col-sm-2">Quantity:</label>
            <input type="text" name="newCQ" value="1" ng-model="newCQ" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Branch:</label>
            <input type="text" name="newCBranch" value="Fortis" ng-model="newCBranch" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category:</label>
            <input type="text" name="newAC" placeholder="Account Category" ng-model="newAC" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category Quantity:</label>
            <input type="text" name="newACQ" value="CNORM" ng-model="newACQ" required />
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Amount to Add:</label>
            <input type="text" name="newCashDepositAmount" value="1000" ng-model="newCashDepositAmount"/>
        </div>
        <br>

    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-lg btn-primary" ng-disabled="frm.$invalid">ADD</button>

    </div>

</form>
