<div>
    <span my-current-time="format"></span>
</div>


<br>


<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">NEW<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">FROM PREVIOUS REQUEST</a></li>
            <li><a href="#/default-request">FROM TEMPLATE</a></li>
            <li><a href="#/create-scratch-request">FROM ZERO</a></li>
        </ul>
    </div>
</div>

<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            <br>
            Sort by:
            <br>
            <select ng-model="orderReq">
                <option value="-Date">Creation Date</option>
                <option value="Project">Alphanumeric</option>
            </select>

        </div>
        <table class="table" >
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Date</th>
                <th>Project Clarity Code</th>
                <th>Request Detail</th>
            </tr>
            </thead>
            <tbody >
            <tr class="danger" ng-repeat="request in filteredRequests=( requests | filter:query | orderBy:orderReq)">
                <td>{{request.ID}}</td>
                <td>{{request.Description}}</td>
                <td>{{request.Date}}</td>
                <td>{{request.Project}}</td>
                <td><div>
                        <ul>
                            <li class="info" ng-repeat="req in request.Contains">
                                {{req.clientQuantity}}
                                {{req.clientBranch}}
                                {{req.clientAccountQuantity}}
                                {{req.clientAccountCategory}}
                                {{req.cashDepositAmount}}
                                {{req.clientDomesticBeneficiariesQuantity}}
                            </li>
                        </ul>
                </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


