

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query">
            <br>
            Sort by:
            <br>
            <select ng-model="orderReq">
                <option value="-Date">Creation Date</option>
                <option value="Project">Alphanumeric</option>
            </select>

        </div>
        <button ng-click="exportData()">Export</button>
        <div id="exportable">
            <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Delivery Date</th>
                <th>Project Clarity Code</th>
                <th>Request Detail</th>
            </tr>
            </thead>
            <tbody >
            <tr class="danger" ng-repeat="request in filteredRequests=( requests | filter:query | orderBy:orderReq )">
                <td>{{request.ID}}</td>
                <td>{{request.Description}}</td>
                <td>{{request.Date}}</td>
                <td>{{request.Project}}</td>
                <td><div>
                    <ul>
                        <li class="info" ng-repeat="req in request.Contains">
                            {{req.clientQuantity}}
                            {{req.clientBranch}}
                            {{req.clientAccountQuantity}}
                            {{req.clientAccountCategory}}
                            {{req.cashDepositAmount}}
                            {{req.clientDomesticBeneficiariesQuantity}}
                        </li>
                    </ul>
                </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</div>

<form class="form-horizontal" role="form" name="frm" ng-submit="addFromPrevious()">

    <div>
        <label label class="control-label col-sm-2">ID:</label>
        <input type="text" name="ID" placeholder="ID" ng-model="ID" required />
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Description:</label>
        <input type="text" name="Description"  ng-value ="filteredRequests[0].Description" ng-model="requests.Description=filteredRequests[0].Description"/>

    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Delivery Date:</label>
        <input type="text" name="Date" ng-value="filteredRequests[0].Date" ng-model="requests.Date=filteredRequests[0].Date"/>
    </div>
    <br>
    <div>
        <label label class="control-label col-sm-2">Project:</label>
        <input type="text" name="Project"  ng-model="requests.Project=filteredRequests[0].Project"/>
    </div>
    <br>

    <div>
        Request detail:
        <br/>
        <div>
            <label label class="control-label col-sm-2">Quantity:</label>
            <input type="text" name="CQ" ng-value="filteredRequests[0].Contains[0].clientQuantity" ng-model="requests.CQ=filteredRequests[0].Contains[0].clientQuantity"/>
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Branch:</label>
            <input type="text" name="CBranch" ng-value="filteredRequests[0].Contains[0].clientBranch" ng-model="requests.CBranch=filteredRequests[0].Contains[0].clientBranch"/>
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category:</label>
            <input type="text" name="AC" ng-value="filteredRequests[0].Contains[0].clientAccountCategory" ng-model="requests.AC=filteredRequests[0].Contains[0].clientAccountCategory"/>
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Account Category Quantity:</label>
            <input type="text" name="ACQ" ng-value="filteredRequests[0].Contains[0].clientAccountQuantity" ng-model="requests.ACQ=filteredRequests[0].Contains[0].clientAccountQuantity"/>
        </div>
        <br>
        <div>
            <label label class="control-label col-sm-2">Amount to Add:</label>
            <input type="text" name="CashDepositAmount" ng-value="filteredRequests[0].Contains[0].cashDepositAmount" ng-model="requests.CashDepositAmount=filteredRequests[0].Contains[0].cashDepositAmount"/>
        </div>
        <br>

    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-lg btn-primary" ng-disabled="frm.$invalid">ADD</button>

    </div>
</form>